*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

	

section{
	width:100% ;
	height: 100%;
	
				float: right;
				
}
section article{
               
                width: 100%;
                height: auto;
				text-align: center;
				padding: 20px; 
				
				margin: 0px auto;
}


nav{
	width: 24%;
    height: 60px;
    background: #bcbcbc;

    padding: 10px;
	float: left;
	text-align: center;
	display: none;
}
header{
    width: 100%;
    height: 60px;
    background: #bcbcbc;


    padding: 10px;
	float: right;
	
}

#input-search{
    width: 300px;
    height: 40px;
    font-size: 20px;
	text-indent: 10px;
    float: right;
}

.content-search{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    background: rgba(0,0,0,0.3);
    display: none;
    float: right;
}

.content-table{
    width: 50%;
    max-height: 200px;
    height: auto;
    background: rgba(0,0,0,0.3);
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: hidden;
    float: right;
    
}

.content-table table{
    width: 100%;
}

tbody tr td a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

tbody tr td a:hover{
    background: rgba(0,0,0,0.3);
}

#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}
*{
	margin:0px;
	padding:0px;
	font-family: verdana;
	color:rgb(81, 255, 0);
}



/*menu lateral*/

div#barra-lateral{
	position:fixed;
	width:60px;
	height:100%;
	background: #424040;

	overflow:hidden;
	-webkit-transition: width 0.5s cubic-bezier(.61,.01,.37,1);
	display: none;
}

div#barra-lateral:hover{
	width:170px;
	display: none;
}

div#logo-menu{
	width:40px;
	height:40px;
	margin:10px;
	background-image:url(pictures/menu.png);
	display: none;
}

div#contenedor-logos-primero{
	margin-top:70px;
	display: none;
}

div.contenedor-logos{
	margin-top:20px;
	margin-left:10px;
	width:130px;
	height:40px;
	display: none;
	
}

div.logo1{
	width:40px;
	height:40px;
	background-image:url(pictures/home.png);
	float: left;
	display: none;
}
div.logo2{
	width:40px;
	height:40px;
	background-image:url(pictures/ajustes.png);
	float: left;
	display: none;
}
div.logo3{
	width:40px;
	height:40px;
	background-image:url(pictures/nuevo.jpeg);
	float: left;
	display: none;
}
div.logo4{
	width:40px;
	height:40px;
	background-image:url(pictures/nosotros.png);
	float: left;
	display: none;
}

p.title-menu{
	margin-left:60px;
	line-height: 40px;
	display: none;
}
#notocar{
	
		/*object-fit: cover;*/
	   height: 121px;
	   width: 133px;
	   border-radius: 50%;
	   box-shadow: -5px -5px 10px  rgba(255,255,255,0.05),
		5px 5px 15px rgba(0,0,0,0.5);
    
}
/*body*/

div#body{
	position:absolute;
	right:0px;
	min-height:300px;
	left:170px;
	display: none;
}

div#texto{
	width:50%;
	min-height:300px;
	float:left;
	display: none;
}

p#texto-contenedor-1{
	font-size:25px;
	margin:30px;
	margin-top:50px;
	background: #bcbcbc;
}

div#foto{
	width:50%;
	height:300px;
	float:right;
	display: none;
}

img#foto-contenedor-1{
	margin:auto;
	margin-top:15px;
	width:300px;
	display:block;
	display: none;
}
.clearfix{
		clear: both;
		display: none;
}
.dark-mode-button{
	
	position: fixed;
	top: 100px;
    left: 20px;
    padding: 10px;
    
    
}


html.dark-mode {
    filter: invert(100%);
}



html.dark-mode div.content-search{
    filter: invert(100%);
}
html.dark-mode .content-table{
	filter: invert(100%);
    
    
}
html.dark-mode #input-search{
    filter: invert(100%);
}
html.dark-mode, tbody tr td a{
	filter: invert(100%);
}
html.dark-mode #temp{
	filter: invert(100%);
}
html.dark-mode .dark-mode-button{
	filter: invert(100%);
}


html.dark-mode tbody tr td a:hover{
	filter: invert(100%);
}
html.dark-mode div.content-search{
    filter: invert(100%);
}
html.dark-mode .content-table{
	filter: invert(100%);
}
html.dark-mode #input-search{
    filter: invert(100%);
}
html.dark-mode, tbody tr td a{
	filter: invert(100%);
}